/* Header related style */
.header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    height: 600px;
    margin: 80px 250px;
    background-position: center;
}

.primary_button {
    color: #FFFFFF;
    background-color: #FF0000;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 10px;
}

.background_header {
    text-align: center;
    padding-top: 50px;
}

.header_title {
    color: white;
    font-size: 50px;
    margin-bottom: 0;
}

.header_description {
    color: white;
    font-size: 80px;
    margin-top: 10px;
}

/* main related style */

.main {
    margin: 80px 250px;
}

/* First section */

.main_text_container {
    text-align: center;
}

.text_title {
    color: #FF0000;
    font-size: 60px;
}

.title_description {
    color: #FF0000;
    margin-bottom: 0;
}

.categories {
    font-size: 30px;
    margin-top: 10px;
}

.first_section_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Second section */

.second_section {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    margin-top: 100px;
    /* display: flex; */
}

.second_section_main_div {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.second_section_text {
    padding-top: 10px;
    text-align: center;
}

.second_section_image {
    padding-top: 20px;
}

.second_section_title {
    color: white;
    font-size: 80px;
    margin-bottom: 0;
}

.second_section_description {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

/* Third section */

.third_section {
    background-image: linear-gradient(#f3dada, #FFFFFF);
    height: 500px;
    margin: 100px 30px;
    border-radius: 15px;
}

.third_section_container {
    text-align: center;
    padding-top: 100px;
}

.third_section_text {
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 0;
}

.third_section_text_color {
    color: #FF0000;
}

.third_section_button {
    text-align: center;
    margin-top: 60px;
}

/* Section four */

.section_four {
    height: 400px;
    margin: 0 30px;
    border-radius: 15px;
}

.section_four_container {
    display: flex;
    justify-content: center;
}

.section_four_element_div {
    margin-right: 100px;
    margin-top: 50px;
}

.section_four_element_div2 {
    margin-left: 200px;
    margin-top: 50px;
}

/* section four element first div */

.section_four_element_head {
    color: #FF0000;
    font-size: 20px;
    margin-bottom: 5px;
}

.section_four_element_title {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

.section_four_element_description {
    font-size: 15px;
    margin-top: 7px;
    color: #919492;
}

/* section four element second div */

.image_border {
    border-radius: 100%;
    border: 7px solid #FF0000;
    padding: 20px;
    width: 365px;
}

/* section four element third div */

.section_four_second_element_title {
    font-size: 35px;
    color: #FF0000;
    margin-bottom: 0;
}

/* section five */

.section_five {
    height: 300px;
    margin: 0 30px;
    margin-top: 100px;
}

.section_five_container {
    text-align: center;
}

.section_five_head {
    font-size: 20px;
    margin-bottom: 5px;
}

.section_five_title {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.holidays {
    color: #FF0000;
}

/* section six */

.section_six {
    height: 700px;
    margin: 0 30px;
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-color: #919492; */
}

.section_six_top_container {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.image1 {
    width: 500px;
    height: 500px;
    margin-top: 100px;
}

.image2 {
    position: absolute;
    left: 50px;
    top: 50px;
    padding-left: 700px;
}

.image3 {
    text-align: right;
    padding-left: 395px;
    padding-top: 40px;
}

/* section seven */

.section_seven {
    height: 300px;
    margin: 0 30px;
    margin-top: 100px;
}

.section_seven_container {
    justify-content: center;
}

/* section eight */

.section_eight {
    text-align: center;
}

.section_eight_container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.section_eight_container_element {
    margin: 15px;
    margin-left: 30px;
}

.section_eight_image {
    width: 320px;
}

/* last section */

.last_section {
    height: 600px;
    margin: 0 30px;
    margin-top: 100px;
    background-color: #f3dada;
    border-radius: 15px;
}

.last_section_container {
    text-align: center;
}

.last_section_mail_icon {
    padding-top: 50px;
}

.last_section_eb_container {
    margin-top: 50px;
}

.last_section_email {
    height: 37px;
    width: 300px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    margin-right: 0;
}

.last_section_button {
    background-color: #FF0000;
    border: none;
    height: 37px;
    width: 100px;
    margin-left: 0;
    color: #FFFFFF;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Footer related style */

.footer {
    background-color: #060211;
}

.footer_head_container {
    justify-content: space-between;
    display: flex;
    margin: 0 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer_text_color {
    color: #FFFFFF;
}

.foote_img_icon {
    margin-right: 20px;
}

.footer_image_container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer_img {
    margin: 20px;
}

.hr_color {
    height: 1px;
    background-color: #919492;
    border: none;
}