/* Header related style */
.header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    height: 600px;
    margin: 80px 250px;
    background-position: center;
}

.background_header {
    text-align: center;
    padding-top: 50px;
}

.header_title {
    color: white;
    font-size: 50px;
    margin-bottom: 0;
}

.header_description {
    color: white;
    font-size: 80px;
    margin-top: 10px;
}

/* main related style */

.main {
    margin: 80px 250px;
}

/* First section */

.main_text_container {
    text-align: center;
}

.text_title {
    color: #FF0000;
    font-size: 60px;
}

.title_description {
    color: #FF0000;
    margin-bottom: 0;
}

.categories {
    font-size: 30px;
    margin-top: 10px;
}

.first_section_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Second section */

.second_section {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    margin-top: 100px;
    /* display: flex; */
}

.second_section_main_div {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.second_section_text {
    padding-top: 10px;
    text-align: center;
}

.second_section_image {
    padding-top: 20px;
}

.second_section_title {
    color: white;
    font-size: 80px;
    margin-bottom: 0;
}

.second_section_description {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}