/* Header related style */
.header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    height: 600px;
    margin: 80px 250px;
    background-position: center;
}

.primary_button{
    color: #FFFFFF;
    background-color: #FF0000;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 10px;
}

.background_header {
    text-align: center;
    padding-top: 50px;
}

.header_title {
    color: white;
    font-size: 50px;
    margin-bottom: 0;
}

.header_description {
    color: white;
    font-size: 80px;
    margin-top: 10px;
}

/* main related style */

.main {
    margin: 80px 250px;
}

/* First section */

.main_text_container {
    text-align: center;
}

.text_title {
    color: #FF0000;
    font-size: 60px;
}

.title_description {
    color: #FF0000;
    margin-bottom: 0;
}

.categories {
    font-size: 30px;
    margin-top: 10px;
}

.first_section_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Second section */

.second_section {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    margin-top: 100px;
    /* display: flex; */
}

.second_section_main_div {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.second_section_text {
    padding-top: 10px;
    text-align: center;
}

.second_section_image {
    padding-top: 20px;
}

.second_section_title {
    color: white;
    font-size: 80px;
    margin-bottom: 0;
}

.second_section_description {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

/* Third section */

.third_section{
    background-image: linear-gradient(#f3dada, #FFFFFF);
    height: 500px;
    margin: 100px 30px;
    border-radius: 15px;
}

.third_section_container{
    text-align: center;
    padding-top: 100px;
}

.third_section_text{
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 0;
}

.third_section_text_color{
    color: #FF0000;
}

.third_section_button{
    text-align: center;
    margin-top: 60px;
}